/*
.circle-menu-container {
    position: relative;
    flex-basis: 850px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 2% 0 2%;
}

.semi-circle {
  top: 155px;
  left: 425px;
  height: 550px;
  width: 275px;
  border-top-right-radius: 320px;
  border-bottom-right-radius: 320px;
  border: 15px solid #FF5C97;
  border-left: 0;
  z-index: 1;
  position: absolute;
}

.image-circle {
  background-color: #FF5C97;
  background: url('../../public/assets/images/circle-menu-img-large.png');
  background-size: cover;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 280px;
  left: 275px;
  border-radius: 50%;
  z-index: 2;
}

.menu-circle {
  background-color: #FF5C97;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
}

#circle-1 {
  top: 105px;
  left: 365px;
  background: url('../../public/assets/images/circle-menu-img-small-placeholder.png');
  background-size: cover;
}

#circle-2 {
  top: 190px;
  left: 550px;
  background: url('../../public/assets/images/circle-menu-img-small-placeholder.png');
  background-size: cover;
}

#circle-3 {
  top: 380px;
  left: 640px;
}

#circle-4 {
  top: 580px;
  left: 550px;
  background: url('../../public/assets/images/circle-menu-img-small-placeholder.png');
  background-size: cover;
}

#circle-5 {
  top: 640px;
  left: 375px;
  background: url('../../public/assets/images/circle-menu-img-small-placeholder.png');
  background-size: cover;
}

.menu-circle-label {
  position: relative;
  z-index: 3;
  max-width: 250px;
  margin: 0;
}

.menu-circle-label-title {
  color: white;
  font-size: 24px;
}

.menu-circle-label-date {
  color: #C4C4C4;
  font-size: 24px;
}

.label-center {
  text-align: center;
}

#menu-circle-label-1 {
  top: 40px;
  left: 290px;
}

#menu-circle-label-2 {
  top: 130px;
  left: 675px;
}

#menu-circle-label-3 {
    top: 250px;
    left: 755px;
}

#menu-circle-label-4 {
    top: 380px;
    left: 675px;
}

#menu-circle-label-5 {
    top: 460px;
    left: 300px;
}

#image-circle-label {
    position: absolute;
    text-align: right;
    z-index: 4;
    width: 250px;
    line-height: 48px;
    left: 0;
    top: 305px
}

.image-circle-label-title {
    color: #FF5C97;
    font-style: bold;
    font-size: 40px;
}

.image-circle-label-subtitle {
    color: white;
    font-style: bold;
    font-size: 32px;
}

.image-circle-label-date {
    color: #C4C4C4;
    font-style: bold;
    font-size: 32px;
}

.image-circle:hover, .menu-circle:hover {
    box-shadow: 0 0 30px #FF5C97;
    cursor: pointer;
}

.menu-circle-label:hover, #image-circle-label:hover {
    cursor: pointer;
}
*/