/* ----- ROOM STYLING (GENERAL) ----- */
.room-wrapper {
  display: flex;
  align-items: stretch;
}

.room-container {
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  overflow-y: auto;
}

.room {
  overflow-y: auto;
  width: 2800px;
  min-width: 934px;
  height: 2160px;
  min-height: 720px;
  background-size: 100% 100%;
  position: relative;
}

#entrance-overlay {
  opacity: 1;
  transition: opacity 5s ease;
  background-image: url('../../public/assets/images/entrance/Entrance_Photo.png');
  height: stretch !important;
  background-size: 100% 100%;
  z-index: 5;
}

.room-buffer {
  flex: 1;
}

.room-object {
  position: absolute;
  z-index: 3;
}

.room-decoration {
  position: absolute;
  z-index: 2;
}

div.room-object > svg {
  height: 100%;
  width: 100%;
  position: absolute;
}

div.room-decoration > svg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.object-glow:hover {
  cursor: pointer;
}

svg.clickable:hover {
  filter:
    drop-shadow(0 0 10px #ff5c97) 
    drop-shadow(0 0 10px #ff5c97);
}

.ambient-audio-player {
  height: 75px;
  width: 75px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 16px;
  margin-bottom: 16px;
  z-index: 4;
}

.ambient-audio-player:hover {
  cursor: pointer;
}

.ambient-audio-player > i {
  font-size: 36px;
}

/* ----- NAVIGATION PANEL ----- */
.navigation-panel {
  display: flex;
  margin: 24px 24px 0 24px;
}

.navigation-menu-buffer {
  flex-grow: 1;
}

.previous-room-button, .next-room-button {
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 4px 16px;
  border-radius: 4px;
  text-decoration: none;
  height: 40px;
  border: 2px solid white;
  z-index: 999;
}

.home-button, .map-button {
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  font-size: 12px;
  color: black;
  background-color: white;
  width: 56px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px;
  margin: 0px 8px;
  border: 2px solid white;
  z-index: 999;
}

.home-button > i, .map-button > i, .previous-room-button > i, .next-room-button > i {
  font-size: 24px;
}

.previous-room-button:hover, .next-room-button:hover, .home-button:hover, .map-button:hover {
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
  color: white;
  box-sizing: border-box;
}

.map-button:hover {
  cursor: pointer;
}

/* ----- SIDEBAR STYLING ----- */
.explore-sidebar {
  box-sizing: border-box;
  flex: 1 0 336px;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-right: 1px solid white;
  overflow-y: auto;
}

.explore-sidebar-title h1 {
  font-size: 35px;
  color: #FF5C97;
  line-height: 36px;
  text-align: center;
  padding: 0 24px;
}

.explore-sidebar-descriptions {
  padding: 0 24px;
}

.icon-row-flex-child {
  flex-basis: calc(100% / 3);
  text-align: center;
  padding: 0 8px;
  margin: 0 auto;
  word-breaK: break-word;
}

.duck-background {
  background-image: url('../../public/assets/images/entrance/Icon_Glowing_Object_Fill.png');
  background-size: 100% auto;
  position: relative;
}

.duck-icon-bounder {
  left: 0;
  padding-top: 11%;
  height: 90%;
}

.duck-icon-bounder > svg {
  width: 100%;
  height: 100%;
}

/* ----- TRANSCRIPTIONS ----- */
.transcription-container {
  position: absolute;
  left: 20%;
  top: 20%;
  overflow-y: auto;
  width: 60%;
  max-height: 60%;
  border: 1px solid white;
  z-index: 10;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
}

.hidden {
  display: none;
}

.close-button-wrapper i {
  font-size: 24px;
}

.close-button-wrapper i:hover {
  cursor: pointer;
}

#citation-title {
  padding: 4px 12px 0 0;
  margin-top: 16px;
  border-top: 1px solid white;
  display: inline-block;
}

/* ----- VTT Viewer/Closed Captions ----- */
.vtt-viewer {
  position: fixed;
  right: 10vh;
  bottom: 10vh;
  width: 100vh;
  max-height: 10%;
  border: 1px solid white;
  z-index: 200;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
  white-space: pre-wrap;
}

/* ----- SOUNDBITES  ----- */
.soundbite {
  flex-grow: 0;
}

.soundbite-buffer {
  flex: 1;
}

.soundbite-title {
  padding: 0 24px;
  text-align: center;
  color: #FF5C97;
  font-size: 21px;
  line-height: 21px;
  margin: 0 !important;
}

.soundbite-subtitle {
  padding: 0 24px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  color: white;
  margin: 4px 0 24px 0 !important;
}

.soundbite-description {
  padding: 0 24px;
}

.soundbite-narrator {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.narrator-name-title {
  width: 100%;
  position: absolute;
  z-index: 5;
}

.soundbite-narrator img {
  width: 100%;
  vertical-align: bottom;
}

.soundbite-player-container {
  display: flex;
  background-color: black;
  border-top: 1px solid white;
  height: 120px;
  text-align: center;
  align-items: center;
  padding-bottom: 16px;
}

.play-pause-button-wrapper {
  margin-left: 24px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: table;
}

.play-pause-button-wrapper:hover,
.transcript-button-wrapper:hover,
.cc-button-wrapper:hover {
  cursor: pointer;
}

.play-pause-button-wrapper > div,
.transcript-button-wrapper > div,
.cc-button-wrapper > div {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

.soundbite-progress-wrapper {
  flex-grow: 1;
  padding-top: 19px;
}

.transcript-button-wrapper {
  margin-left: 16px;
  margin-right: 16px;
}

.cc-button-wrapper {
  margin-right: 24px;
  display: table;
}

.soundbite-scrubber {
  display: flex;
}

.soundbite-scrubber:hover {
  cursor: pointer;
}

.soundbite-scrubber-knob {
  height: 12px;
  width: 2px;
  background-color: #c4c4c4;
  position: absolute;
  z-index: 2;
}

.soundbite-scrubber-knob:hover {
  cursor: pointer;
}

.timestamp-container {
  display: flex;
  justify-content: space-between;
}

.timestamp-container > div {
  font-size: 16px;
}

/* ----- ROOM SPECIFICS ----- */
/* ----- 00 - Entrance ----- */
#entrance-assets {
  bottom: 0;
  height: auto;
  width: stretch;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

#entrance-assets > svg {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

#entrance-door {
  height: 22.6%;
  width: 11.6%;
  bottom: 2.3%;
  left: 52.5%;
  z-index: 20;
}

/* ----- 01 - Threshold ----- */
#threshold-assets {
  height: 83%;
  width: 80%;
  bottom: 0;
  right: 0;
}

#threshold-gallant-outline {
  bottom: 0;
  height: 83.5%;
  width: 20%;
  left: 19.8%;
}

#threshold-miklos-outline {
  top: 31.5%;
  left: 42%;
  height: 45.5%;
  width: 14%;
}

#threshold-hamilton-outline {
  top: 30%;
  left: 57.5%;
  height: 16%;
  width: 11%;
}

/* ----- 02 - Dance Floor ----- */
#dance-floor-assets {
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
} 

#dance-floor-mallette-outline {
  height: 59%;
  width: 20%;
  bottom: 0;
  right: 27%;
}

#dance-floor-music-chlorine-sex-alcohol-outline {
  height: 18%;
  width: 11%;
  top: 36.5%;
  left: 24%;
}

#dance-floor-olender-outline {
  height: 55%;
  width: 27%;
  bottom: 0;
  left: 0;
}

#dance-floor-ridgley-outline {
  height: 13%;
  width: 13.5%;
  top: 12%;
  right: 2.5%;
}

/* ----- 03 - Pool ----- */
#pool-assets {
  width: 100%;
  height: 85%;
  bottom: 0;
}

#pool-campbell-smith-outline {
  height: 28%;
  width: 26%;
  left: 0;
  top: 21%;
}

#pool-chan-outline {
  height: 26.5%;
  width: 13%;
  top: 27%;
  right: 14%;
}

#pool-cupid-board-outline {
  height: 25.6%;
  width: 16%;
  bottom: 1.25%;
  left: 26.7%;
}

#pool-mcgregor-outline {
  height: 13.5%;
  width: 5%;
  top: 38.5%;
  left: 43.7%;
}

/* ----- 04 - Staircases ----- */
#staircases-assets {
  width: 100%;
  height: 100%;
  top: 0;
}

#staircases-brushwood-rose-outline {
  width: 14%;
  height: 63%;
  top: 13%;
  left: 43.1%;
}

#staircases-hornick-outline {
  width: 35%;
  height: 88%;
  right: 1%;
  bottom: 7%;
}

#staircases-inaccessibility-at-the-palace-outline {
  width: 26%;
  height: 25.5%;
  bottom: 0;
  left: 27.25%;
}

/* ----- RESIZE ROOM BASED ON SCREEN SIZE ----- */
@media screen and (min-width: 0px) {
  .room, #entrance-overlay {
      width: 933px;
      min-width: 933px;
      max-width: 933px;
      height: 720px;
      min-height: 720px;
      max-height: 720px;
  }
}

@media screen and (min-width: 1366px) {
  .room, #entrance-overlay {
      width: 1021px;
      min-width: 1021px;
      max-width: 1021px;
      height: 788px;
      min-height: 788px;
      max-height: 788px;
  }
}

@media screen and (min-width: 1440px) {
  .room, #entrance-overlay {
      width: 1166px;
      min-width: 1166px;
      max-width: 1166px;
      height: 900px;
      min-height: 900px;
      max-height: 900px;
  }
}

@media screen and (min-width: 1536px) {
  .room, #entrance-overlay {
      width: 1120px;
      min-width: 1120px;
      max-width: 1120px;
      height: 864px;
      min-height: 864px;
      max-height: 864px;
  }
}

@media screen and (min-width: 1920px) {
  .room, #entrance-overlay {
      width: 1400px;
      min-width: 1400px;
      max-width: 1400px;
      height: 1080px;
      min-height: 1080px;
      max-height: 1080px;
  }
}