
/* ----- ROOM STYLING (GENERAL) ----- */
.room-wrapper {
    display: flex;
    align-items: stretch;
}

.room-container {
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  height: 100vh;
}

.room {
  overflow: auto;
  width: 2800px;
  min-width: 934px;
  height: 2160px;
  min-height: 720px;
  background-size: 100% 100%;
  position: relative;
}

#entrance-overlay {
  opacity: 1;
  transition: opacity 5s ease;
  background-image: url('../../public/assets/images/entrance/Entrance_Photo.png');
  height: stretch !important;
  background-size: 100% 100%;
  z-index: 5;
}

.room-buffer {
  flex: 1;
}

.room-object {
  position: absolute;
  z-index: 3;
}

.room-decoration {
  position: absolute;
  z-index: 2;
}

div.room-object > svg {
  height: 100%;
  width: 100%;
}

div.room-decoration > svg {
  height: 100%;
  width: 100%;
}

.object-glow:hover {
  cursor: pointer;
}

svg.clickable:hover {
  filter:
    drop-shadow(0 0 10px #ff5c97) 
    drop-shadow(0 0 10px #ff5c97);
}

.ambient-audio-player {
  height: 75px;
  width: 75px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 16px;
  margin-bottom: 16px;
  z-index: 4;
}

.ambient-audio-player:hover {
  cursor: pointer;
}

.ambient-audio-player > i {
  font-size: 36px;
}


/* ----- SIDEBAR STYLING ----- */
.explore-sidebar {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
  position: relative;
  flex: 1;
  min-width: 300px;
  padding: 0px 32px 0px 32px;
}

.explore-sidebar-title h1 {
  font-size: 35px;
  color: #FF5C97;
  line-height: 36px;
}

.icon-row-flex-child {
  flex-basis: calc(100% / 3);
  text-align: center;
  padding: 0 8px;
  margin: 0 auto;
  word-breaK: break-word;
}

.duck-background {
  background-image: url('../../public/assets/images/entrance/Icon_Glowing_Object_Fill.png');
  background-size: 100% auto;
  position: relative;
}

.duck-icon-bounder {
  left: 0;
  padding-top: 11%;
  height: 90%;
}

.duck-icon-bounder > svg {
  width: 100%;
  height: 100%;
}


/* ----- ROOM SPECIFICS ----- */
/* ----- 00 - Entrance ----- */
#entrance-assets {
  bottom: 0;
  height: auto;
  width: stretch;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

#entrance-assets > svg {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

#entrance-door {
  height: 22.6%;
  width: 11.6%;
  bottom: 2.3%;
  left: 52.5%;
}

/* ----- RESIZE ROOM BASED ON SCREEN SIZE ----- */
@media screen and (min-width: 0px) {
  .room, #entrance-overlay {
      width: 934px;
      height: 720px;
  }
}

  @media screen and (min-width: 1366px) {
    .room, #entrance-overlay {
        width: 997px;
        height: 788px;
    }
  }

  @media screen and (min-width: 1440px) {
    .room, #entrance-overlay {
        width: 1051px;
        height: 900px;
    }
  }

  @media screen and (min-width: 1536px) {
    .room, #entrance-overlay {
        width: 1141px;
        height: 864px;
    }
  }

  @media screen and (min-width: 1920px) {
    .room, #entrance-overlay {
        width: 1402px;
        height: 1080px;
    }
  }