/* ----- HOMEPAGE ----- */
.project-description {
    flex-grow: 0 0 650px;
    margin-left: 7.4%;
    margin-top: 25px;
}

.menu-buffer {
  flex: 1 0;
}
  
  /* ----- MEDIA QUERIES ----- */
  /* ----- Mobile ----- */
  @media (max-width: 480px) {
    .project-description {
      margin-left: 40px;
    }
  }
  
  /* ----- Tablets ----- */
  @media (max-width: 768px) {
    .project-description {
      margin-left: 40px;
    }
  }
  
  /* ----- Small Screens ----- */
  @media (max-width: 1024px) {
    .project-description {
      margin-left: 40px;
    }
  }
  
  /* ----- Large Screens ----- */
  @media (max-width: 1500px) {
    .project-description {
      margin-left: 40px;
    }
  }

  /* ------ Extra Large Screen ----- */