/* ----- HOMEPAGE ----- */
.project-description {
    flex-grow: 0 0 650px;
    padding-top: 5%;
}

.menu-buffer {
  flex: 1 0;
}
  

/* ----- HEIGHT-BASED MEDIA QUERIES ----- */
@media (max-height: 800px) {
  .project-description {
    padding-top: 10px;
  }
}

/* ----- MEDIA QUERIES ----- */
/* ----- Mobile ----- */
@media (max-width: 480px) {
    
}
  
/* ----- Tablets ----- */
@media (max-width: 768px) {
    
}
  
/* ----- Small Screens ----- */
@media (max-width: 1024px) {

}
  
/* ----- Large Screens ----- */
@media (max-width: 1500px) {
    
}

/* ------ Extra Large Screen ----- */