body {
  font: normal 16px Montserrat, sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url('../../public/assets/images/background.png');
  background-size: cover;
  color: white;
}

h1 {
  color: #FF5C97;
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 30px;
}

h3 {
  color: #C4C4C4;
  font-size: 30px;
}

.pink {
  color: #FF5C97;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-28 {
  line-height: 28px;
}

.letter-02 {
  letter-spacing: 0.2px;
}

/* ----- Dividers ----- */
.divider {
  height: 3px;
  background-color: white;
}

/* ----- Side Menu for Static Content Pages | Left Side ----- */
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.sidemenu {
  height: 100vh;
  min-width: 600px;
  padding-left: 180px;
  color: white;
  box-sizing: border-box;
  overflow: scroll;
}

.sidemenu a {
  display: block;
  margin-top: 60px;
  font-size: 30px;
  color: #C4C4C4;
  text-decoration: none;
}

.sidemenu a:hover {
  text-decoration: underline;
}

.sidemenu a.active {
  color: #FF5C97;
}

/* ----- Content Pane | Right Side ----- */
.content {
  margin-right: 180px;
  height: 100vh;
  overflow: scroll;
}

.title-section {
  text-align: center;
  margin-top: 70px;
}

/* ----- HOMEPAGE ----- */


/* ----- MEDIA QUERIES ----- */
/* ----- Mobile ----- */
@media (max-width: 480px) {

}

/* ----- Tablets ----- */
@media (max-width: 768px) {

}

/* ----- Small Screens ----- */
@media (max-width: 1024px) {

}

/* ----- Large Screens ----- */
@media (max-width: 1200px) {

}
