body {
  font: normal 16px Montserrat, sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url('../../public/assets/images/background.png');
  background-size: cover;
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  color: #FF5C97;
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 30px;
}

h3 {
  color: #C4C4C4;
  font-size: 30px;
}

/* ----- Colours ----- */
.pink {color: #FF5C97;}
.white {color: white;}
.grey {color: #C4C4C4;}

/* ----- Typography ----- */
.line-height-24 {
  line-height: 24px;
}

.line-height-28 {
  line-height: 28px;
}

.letter-02 {
  letter-spacing: 0.2px;
}

.center {
  text-align: center;
}

/* ----- Dividers ----- */
.divider {
  height: 3px;
  background-color: white;
}

/* ----- Side Menu for Static Content Pages | Left Side ----- */
* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  align-items: stretch;
  padding-top: 40px;
}

.sidemenu {
  width: 324px;
  padding-left: 80px;
  color: white;
  box-sizing: border-box;
  overflow: scroll;
  flex-shrink: 0;
}

.sidemenu a, .sidemenu a:visited {
  display: block;
  margin-top: 36px;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2px;
  color: #C4C4C4 !important;
  text-decoration: none;
}

.sidemenu a:hover {
  text-decoration: underline;
  color: white !important;
}

.sidemenu a.active {
  color: #FF5C97 !important;
}

.sidemenu-links-wrapper {
  text-align: right;
  border-right: 1px solid white;
  padding-right: 16px;
}

/* ----- Content Pane | Right Side ----- */
.content {
  padding: 0px 80px 0px 80px;
  overflow-y: auto;
  height: calc(100vh - 40px);
}

.title-section {
  text-align: center;
  margin-top: 70px;
}

h2.content-title {
  font-size: 28px;
  line-height: 32px;
  margin-top: 0;
}

h3.content-subtitle {
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: -16px;
}

img.banner {
  height: auto;
  max-width: 100%;
  border-top: 3px solid white;
  width: auto\9 /* IE8 */
}


/* ----- MEDIA QUERIES ----- */
/* ----- Mobile ----- */
@media (max-width: 480px) {

}

/* ----- Tablets ----- */
@media (max-width: 768px) {

}

/* ----- Small Screens ----- */
@media (max-width: 1024px) {

}

/* ----- Large Screens ----- */
@media (max-width: 1200px) {

}
