#photo-booth-temple-assets {
    width: 75.9%;
    height: 58.8%;
    bottom: 0;
    left: 2%;
}

#photo-booth-temple-brushwood-rose-outline {
    width: 30.5%;
    height: 58.8%;
    bottom: 0;
    left: 2%;
}

#photo-booth-temple-miklos-outline {
    width: 42.5%;
    height: 32.75%;
    top: 53%;
    left: 35.5%;
}

#photo-booth-temple-captured-for-posterity-outline {
    width: 24%;
    height: 39.5%;
    right: 9%;
    top: 11.5%;
}

#photo-booth-temple-powers-outline {
    width: 12.33%;
    height: 15%;
    left: 48.5%;
    top: 47%;
}