#pool-assets {
    width: 100%;
    height: 85%;
    bottom: 0;
  }
  
  #pool-campbell-smith-outline {
    height: 28%;
    width: 26%;
    left: 0;
    top: 21%;
  }
  
  #pool-chan-outline {
    height: 26.5%;
    width: 13%;
    top: 27%;
    right: 14%;
  }
  
  #pool-cupid-board-outline {
    height: 25.6%;
    width: 16%;
    bottom: 1.25%;
    left: 26.7%;
  }
  
  #pool-mcgregor-outline {
    height: 13.5%;
    width: 5%;
    top: 38.5%;
    left: 43.7%;
  }