#private-rooms-assets {
    height: 68.8%;
    width: 100%;
    bottom: 0;
}

#private-rooms-ferguson-outline {
    height: 38.5%;
    width: 23.5%;
    left: 14.9%;
    top: 4.3%;
}

#private-rooms-mcgregor-outline {
    height: 63%;
    width: 14%;
    left: 50%;
    top: 20.5%;
}

#private-rooms-perry-outline {
    height: 47.6%;
    width: 10.2%;
    right: 0;
    top: 34.8%;
}

#private-rooms-rows-of-rooms-outline {
    height: 51.5%;
    width: 18%;
    right: 5.5%;
    top: 21%;
}