.sticky-submenu {
    background-color: #EEE;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.sticky-submenu a {
    color: black;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 17px;
}

.sticky-submenu a:hover {
    text-decoration: underline;
}