.tab-panel {
    display: flex;
    padding-bottom: 16px;
}

.tab-text {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 0 4px;
}

.tab-logo {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 0 4px;
    height: 64px;
    box-sizing: content-box;
}

.tab-logo-active {
    border-bottom: 3px solid white;
}

.tab-logo > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.tab-logo > img:hover {
    cursor: pointer;
}

.tab-text-active {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 0 4px;
    color: #FF5C97;
}

.tab-text-active:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.tab-text:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
