#threshold-assets {
  height: 83%;
  width: 80%;
  bottom: 0;
  right: 0;
}
  
#threshold-gallant-outline {
  bottom: 0;
  height: 83%;
  width: 20%;
  left: 19.8%;
}
  
#threshold-hamilton-outline {
  top: 32%;
  left: 55%;
  height: 15%;
  width: 11%;
}

#threshold-miklos-outline {
  top: 34%;
  left: 43%;
  height: 40.5%;
  width: 14%;
}