#threshold-assets {
    height: 83%;
    width: 80%;
    bottom: 0;
    right: 0;
  }
  
  #threshold-gallant-outline {
    bottom: 0;
    height: 83%;
    width: 20%;
    left: 19.8%;
  }
  
  #threshold-miklos-outline {
    top: 32%;
    left: 42.25%;
    height: 45.5%;
    width: 14%;
  }
  
  #threshold-hamilton-outline {
    top: 30.5%;
    left: 57.5%;
    height: 16%;
    width: 11%;
  }